body,ul,li,div,span,a,h2,h1{
    padding: 0;
    margin: 0;
}

body{
    background: url("../img/ablumBack.png")  no-repeat;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

#container{
    margin:0 auto;
}

#title{
    color: #ffffff;
    margin:50px auto;
    font-size: 50px;
}

#previous{
    display: inline-block;
    height:50px;
    width:50px;
    background: black;
    color: #ffffff;
    line-height: 50px;
    filter:alpha(opacity=50);
    opacity: 0.5;
}

#next{
    display: inline-block;
    height:50px;
    width:50px;
    background: black;
    color: #ffffff;
    line-height: 50px;
    filter:alpha(opacity=50);
    opacity: 0.5;
}

#sb-slider{
    display: inline-block;
    margin:auto auto;
    text-align: center;
}

img{
    margin:0 auto;
    max-width: 1000px;
    max-height: 600px;

}




